body{
	background-color: lightblue;
	margin: 0;
}

#squares div{
	height: 20vw;
	width: 20vw;
	background-color: white;
	margin: 2vw;
	opacity: 0.8;
	float: left;
}

#squares .white {
	background-color: white;
	opacity: 0.3;
}