body {
	background-color: #EADEDB;/* sweet blanched almond */
	margin: 0; /* on most browsers the body has a 
				  default margin of 8px */
}

#circles {
    width: 120vw; /* a little larger than the window */
    position: fixed;
    top: -5vw; /* moves the div above the 
    			   frame of the window */
    left: -5vw; /* moves the div left of the 
    			   frame of the window */
    transform: roate(-15deg);

}

#circles2{
	width:110vw;
	top: -5vw;
	left: -5vw;
	transform: roate(-15deg);


}
#circles2 div{
	height: 20vw;
	width: 20vw;
	background-color: white;
	border-radius: 50%;
	margin:2vw;
	float: left;

}


/* this is for all the <div> inside of
	<div id="circles">
	--> <div></div> <--
*/
#circles div {
	height: 2vw;
	width: 2vw;
	background-color: #EC9787;
	border-radius: 50%;
	margin: 5vw;
	float: left;
}