body {
	background-color: white;
	margin: 0; 
}


#triangle-topleft {
  width:200vw;
  height:200vh;
  position:absolute;
  top:0;
  left:0;

}

#triangle-topleft div {
  width: 0;
  height: 0;
  border-top: 200px solid #F3D6E4;
  border-right: 200px solid transparent;
  float:left;
  mix-blend-mode: overlay;

}
    